# IDE files
.idea
build

cmake-build-*

empyrical-reloaded
pyfolio-reloaded
.cache

test/python_benchmark_test/*venv*
test/python_benchmark_test/__pycache__
test/python_benchmark_test/pyfolio-reloaded
test_output